
<html>
    <head>
        <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <style>
            body{
                background-color: cornflowerblue;
                font-style: oblique;
                font-size: larger;
            }
        </style>
        <nav>
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p>Aww yeah, you successfully read this important alert message.you can add your new product details here.
                </p>
            </div>
        </nav>
    </head>
<body>

{% block body %}
{% endblock %}
</body>
    


</html>
